 {% set links = {
    '#megan-place': "Megan's Place",
    '#board': 'Board of Directors'
 }
 %}
 
 <header class="text-gray-700 bg-white border-t border-b body-font">
    <div>
        <nav class="flex items-center justify-around flex-wrap p-1 pt-2">
            <div class="">
                <a href="/">
                    <img src="svg/original.svg" alt="Begin Again Megan's Place Logo"/>
                </a>
            </div>
            <div class="">
                <ul class="flex py-4 space-x-5 xl:space-x-8 items-center">
                    {% for link, title in links %}
                        <li>
                            <a class="mr-6 text-md font-semibold hover:text-gray-800" href="{{ link }}">{{ title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
    <div class="nav-border">
        <div class="inner-wrapper">
            <div class="inner"></div>
        </div>
    </div>
</header>